.Rproj.user
.Rhistory
.RData
.Ruserdata
00.1_irrigationTrendsFromAIM.html
01.05_WIMAS_formatting.html
01.06_WIMAS_exploratoryAnalyses.html
02.00_SALUS_conceptual.html
lema.Rproj
figure
02.00_SALUS_conceptual_cache
01.50_CDL_summary.html
01.50_CDL_summary_cache
02.05_SALUS_weather_cache
02.05_SALUS_weather.html
cache
02.28_SALUS_nassManagement.html
02.30_SALUS_nassYields.html
02.50_SALUS_writeExperiments.html
02.21_SALUS_GetExperimentsContinuous.html
02.50_SALUS_writeExperiments_test.html
03.00_SALUS_Results_lema01.html
03.20_SALUS_Results_Process.html
